@model IQueryable<Models.Customer>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Generic PC store</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/Home/Index">
                <h4 class="mainMenuButton">Főmenü</h4>
            </a>
            <nav>
                <ul>
                    <li><a href="/Home/AdminIndex">Admin mód</a></li>
                    <li><a href="/Home/UserIndex">User mód</a></li>
                    <li><a href="/Home/GenerateData">Minta adatok betöltése</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainText">
            <h1>Vásárlók listája:</h1><br />
            @foreach (var item in Model)
            {
                <div>
                    Vásárló neve: @item.CustomerName <br />
                    Email cím: @item.EmailAddress <br />
                    Telefonszám: @item.PhoneNumber  <br />
                    Cím: @item.Address <br />
                    Regisztráció dátuma: @item.RegDate.ToString() <br />
                    <a href="/Home/EditCustomer?id=@item.CustomerID">Szerkesztés&nbsp</a>
                    <a href="/Home/DeleteCustomer?id=@item.CustomerID">Törlés</a>
                </div>
                <br /> <br />
            }
        </div>
    </div>
</body>
</html>