@model IQueryable<Models.Product>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Generic PC store</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/Home/Index">
                <h4 class="mainMenuButton">Főmenü</h4>
            </a>
            <nav>
                <ul>
                    <li><a href="/Home/AdminIndex">Admin mód</a></li>
                    <li><a href="/Home/UserIndex">User mód</a></li>
                    <li><a href="/Home/GenerateData">Minta adatok betöltése</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainText">
            <h1>Termékek listája:</h1><br />
            @foreach (var item in Model)
            {
                <div>
                    Termék neve: @item.ProductName <br />
                    Kategória: @item.Category.ToString() <br />
                    Gyártó: @item.Manufacturer <br />
                    Ár: @item.Price <br />
                    Leírás: @item.Description <br />
                </div>
                <br /> <br />
            }
            <form action="/Home/ProductDataGenerator" method="post">
                <input type="submit" value="Export to JSON" />
            </form>
        </div>
    </div>
</body>
</html>