@model IQueryable<Models.Order>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Generic PC store</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/Home/Index">
                <h4 class="mainMenuButton">Főmenü</h4>
            </a>
            <nav>
                <ul>
                    <li><a href="/Home/AdminIndex">Admin mód</a></li>
                    <li><a href="/Home/UserIndex">User mód</a></li>
                    <li><a href="/Home/GenerateData">Minta adatok betöltése</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainText">
            <h1>Rendelések listája</h1>
            @foreach (var item in Model)
            {
                <div>
                    Rendelés ID-je: @item.OrderID <br />
                    Rendelt mennyiség: @item.OrderedQuantity <br />
                    Rendelés ideje: @item.OrderDate.ToString() <br />
                    Megjegyzés: @item.Comment <br />
                    Rendelők: <br />
                    @foreach (var c in item.Customers)
                    {
                        @if (c!=null)
                        {
                            @c.CustomerName; <br />
                        }
                    }
                    <a href="/Home/EditOrder?id=@item.OrderID">Szerkesztés&nbsp</a>
                    <a href="/Home/DeleteOrder?id=@item.OrderID">Törlés</a>
                </div>
                <br /> <br />
            }


        </div>
    </div>
</body>
</html>
